@tailwind base;
@tailwind components;
@tailwind utilities;

Page {
  background-color: #0D0D0D;
}

.ns-dark TextField {
  placeholder-color: #B8B8B8;
}

.ns-dark TextField::placeholder {
  font-family: 'Inter', sans-serif;
}
